<div>
    <div class="post-by-id">
        <div class="post-header">
            <div class="post-author">
                <image src="{{ comment.user.image_encoded }}" alt="Profile Image" class="profile-image"
                    onerror="this.src='/static/assets/android-chrome-512x512.png'"></image>
                <div class="post-author-name">
                    {% if comment.user.id != user.id %}
                    <a href="/user/cards/{{ comment.user.id }}" id="connection-author">{{ comment.user.name }}</a>
                    {% else %}
                    {{ comment.user.name }}
                    {% endif %}
                </div>
                <div class="post-date">
                    {{ comment.created_at }}
                </div>
            </div>
            <div class="post-body">
                {{ comment.body }}
            </div>

            <div class="post-footer">
                <div class="post-likes">
                    <i class="fa-solid fa-infinity"></i> {{ comment.flows_count }}
                </div>
                <div class="post-comments">
                    <i class="fa-solid fa-comment-dots"></i> {{ comment.comments_count }}
                </div>
            </div>
        </div>
    </div>