<div class="create-connection">
    <div class="post-author">
        <image src="{{ user.image_encoded }}" alt="Profile Image" class="profile-image"
            onerror="this.src='/static/assets/android-chrome-512x512.png'">
        </image>
        <div class="post-author-name">{{ user.name }}</div>
        <br> Create Connection
    </div>
    <form action="/posts/connections" class="form-connection" method="POST">
        <input id="title" type="text" name="title" placeholder="(Title) Say what's flowing in your mind..."
            maxlength="60">
        <textarea id="body" type="text" name="body" placeholder="(Body) Create connections through your words..."
            maxlength="1000" required></textarea>
        <button id="button-connection" type="submit">Connect <i class="fa-solid fa-infinity"></i></button>
    </form>
</div>