<div>
    <div class="post">
        <div class="post-header">
            <div class="post-author">
                <image src="{{ post.user.image_encoded }}" alt="Profile Image" class="profile-image"
                    style="border: 3px solid {{ post.user.color }} "
                    onerror="this.src='/static/assets/android-chrome-512x512.png'"></image> {% if post.mentions %} <i
                    id="flow-mention" class="fa-solid fa-infinity"></i> {%
                for mention in post.mentions %} <image src="{{ mention.user.image_encoded }}" alt="Profile Image"
                    class="profile-image" style="border: 3px solid {{ mention.user.color }} "
                    onerror="this.src='/static/assets/android-chrome-512x512.png'"></image>
                {% endfor %} {% endif %}
                <div class="post-author-name">
                    {% if post.user.id != user.id %}
                    <a href="/user/cards/{{ post.user.id }}" id="connection-author">{{ post.user.name }}</a>
                    {% else %}
                    {{ post.user.name }}
                    {% endif %}
                </div>
            </div>
            <div class="post-title">
                <a href="/connections/{{ post.id }}">{{ post.title }}</a>
            </div>
            <div class="post-date">
                {{ post.created_at }}
            </div>
        </div>
        <a href="/connections/{{ post.id }}">
            <div class="post-body">
                {{ post.body }}
            </div>
        </a>
        <div class="post-footer">
            <div class="post-likes">
                <i class="fa-solid fa-infinity"></i> {{ post.flows_count }}
                {% if post.flows_count <= 15 %} {% for flow in post.flows %} <image src="{{ flow.user.image_encoded }}"
                    alt="Profile Image" class="flow-mini-image"
                    onerror="this.src='/static/assets/android-chrome-512x512.png'">
                    </image>
                    {% endfor %}
                    {% endif %}
                    {% if post.flows_count > 15 %}
                    {% for flow in range(15) %}
                    <image src="{{ post.flows[flow].user.image_encoded }}" alt="Profile Image" class="flow-mini-image"
                        onerror="this.src='/static/assets/android-chrome-512x512.png'"></image>
                    {% endfor %}
                    {% endif %}


            </div>
            <div class="post-comments">
                <i class="fa-solid fa-comment-dots"></i> {{ post.comments_count }}
                {% if post.comments_count <= 15 %} {% for comment in post.comments %} <image
                    src="{{ comment.user.image_encoded }}" alt="Profile Image" class="flow-mini-image"
                    onerror="this.src='/static/assets/android-chrome-512x512.png'">
                    </image>
                    {% endfor %}
                    {% endif %}
                    {% if post.comments_count > 15 %}
                    {% for comment in range(15) %}
                    <image src="{{ post.comments[comment].user.image_encoded }}" alt="Profile Image"
                        class="flow-mini-image" onerror="this.src='/static/assets/android-chrome-512x512.png'"></image>
                    {% endfor %}
                    {% endif %}
            </div>
        </div>
    </div>
</div>