<div>
    <div class="post">
        <div class="post-header">
            <div class="post-author">
                <image src="{{ post.profile_image }}" alt="Profile Image" class="profile-image"
                    onerror="this.src='/static/assets/android-chrome-512x512.png'"></image>
                <div class="post-author-name">
                    {% if post.user_id != user.id %}
                    <a href="/user/cards/{{ post.user_id }}" id="connection-author">{{ post.user_name }}</a>
                    {% else %}
                    {{ post.user_name }}
                    {% endif %}
                </div>
            </div>
            <div class="post-title">
                <a href="/post/{{ post.id }}">{{ post.title }}</a>
            </div>
            <div class="post-date">
                {{ post.created_at }}
            </div>
        </div>
        <div class="post-body">
            {{ post.body }}
        </div>
        <div class="post-footer">
            <div class="buttons">
                <button class="connection-button" type="button">
                    Flow On <i class="fa-solid fa-infinity"></i>
                </button>
                <button id="comment-button" class="connection-button" type="button" ">
                    Comment <i class=" fa-solid fa-comment"></i>
                </button>
            </div>
        </div>
    </div>
</div>