* {
    color: rgba(0, 255, 255, 0.945);
    font-family: "JetBrains Mono", monospace;
    font-weight: bold;
}

#Logo {
    background: linear-gradient(120deg, #6a01c5 0%, #00869e 100%);
    font-family: "Roboto", sans-serif;
    background-size: 200% 200%;
    animation: gradient 5s ease infinite;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3.5vw;
    margin: 20px;
}

.header-link {
    background: linear-gradient(120deg, #6a01c5 0%, #00869e 100%);
    color: rgba(0, 255, 255, 0.945);
    background-size: 200% 200%;
    animation: gradient 5s ease infinite;
    font-size: 20px;
    margin: 1vw;
    padding: 0.5vw;
    border-radius: 0.8vw;
}

header {
    background-color: black;
    z-index: 1000;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-style: solid;
    border-top: none;
    border-left: none;
    border-right: none;
    border-width: 2px;
    margin: 0px;
    padding: 0px;
}

body {
    margin-top: 150px;
    background-color: black;

}

.create-connection {
    background: linear-gradient(120deg, #6a01c5 0%, #00869e 100%);
    background-size: 200% 200%;
    animation: gradient 5s ease infinite;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
}

.form-connection {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

a {
    text-decoration: none;
    font-size: 20px;
}

#title {
    width: 99%;
}

#body {
    height: 100px;
    width: 99%;
    margin-bottom: 0px;
    border-width: 2px;
    border-bottom: solid 2px rgba(0, 255, 255, 0.945);
    border-top: solid 2px rgba(0, 255, 255, 0.945);
    resize: none;
}

.button-connection {
    background: transparent;
    padding: 10px;
    margin: 3px;
    color: rgba(0, 255, 255, 0.945);
    font-family: JetBrains Mono;
    font-size: 18px;
    border-style: none;
    outline: none;
    margin: 0px;
    border-radius: 10px;
    width: 100%;
}

#flow {
    border-top: rgba(0, 255, 255, 0.945) solid 2px;
    border-radius: 0px;
    width: 100%;
}

#flow:hover {
    background: #6a01c5;
    cursor: pointer;
}

#flow-mention {
    font-size: 30px;
    align-self: center;
    text-align: center;
    width: 5%;
    position: relative;
    bottom: 25px;
    margin: 0px;
    padding: 0px;
}

textarea,
input {
    background: transparent;
    padding: 10px;
    margin: 3px;
    width: 95%;
    color: rgba(0, 255, 255, 0.945);
    font-family: JetBrains Mono;
    font-size: 18px;
    border: none;
    outline: none;
    margin: 0px;
}

.profile-image {
    width: 80px;
    height: 80px;
    border-radius: 10%;
    margin: 0px;
    object-fit: cover;
}

.flow-mini-image {
    width: 15px;
    height: 15px;
    border-radius: 10%;
    margin: 0px;
    object-fit: cover;
}

.post-author-name {
    font-size: 25px;

}

#connection-author {
    font-size: 25px;
}

#connection-author:hover {
    cursor: pointer;
    text-decoration: underline;
}

.post-title {
    margin: 10px 0px 2px 0px;
    font-size: 20px;
}

.post-body {
    margin: 20px 0px 20px 0px;
    text-align: left;
    justify-content: left;
    height: fit-content;
    font-size: 15px;
}

.post-date {
    font-size: 10px;
}

.post {
    background: linear-gradient(120deg, #6a01c5 0%, #00869e 100%);
    justify-content: center;
    content: center;
    background-size: 200% 200%;
    animation: gradient 5s ease infinite;
    display: flex;
    flex-direction: column;
    border: 2px solid #6a01c5;
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
    cursor: pointer;
}

.post:hover {
    background: #6a01c5;
}

.post-by-id {
    background: linear-gradient(120deg, #6a01c5 0%, #00869e 100%);
    justify-content: center;
    content: center;
    background-size: 200% 200%;
    animation: gradient 5s ease infinite;
    display: flex;
    flex-direction: column;
    border: 2px solid #6a01c5;
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
}

.button-connection:hover {
    background-color: #6a01c5;
    cursor: pointer;
}

.header-link:hover {
    background: linear-gradient(120deg, #6a01c5 0%, #00869e 100%);
    background-size: 400% 400%;
    animation: gradient 1.3s ease infinite 0.5s;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-top: rgba(0, 255, 255, 0.945) solid 2px;
}

.connection-button {
    background: transparent;
    width: 50%;
    padding: 10px;
    margin: 0px;
    color: rgba(0, 255, 255, 0.945);
    font-family: JetBrains Mono;
    font-size: 18px;
    border-style: none;
    outline: none;
    cursor: pointer;

}

#comment-button {
    border-left: rgba(0, 255, 255, 0.945) solid 2px;
}

.connection-button:hover {
    background-color: #6a01c5;
}


@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}