<!DOCTYPE html>
<html lang="en">

<head>
    {% include "components/head_component.html" %}
    <link rel="stylesheet" href="{{ url_for('static', path='/index.css') }}">

</head>

<body>
    <div class="container">
        <div class="content">
            <h1>Infinity Circle <i class="fa-solid fa-infinity"></i></h1>
            <h2>Code Connected <i class="fa-solid fa-infinity"></i> Share Infinitely</h2>
            <div class="buttons">
                <a href="/login" title="login" id="login">Login</a><a href="/register" title="register"
                    id="register">Register</a>
            </div>
        </div>
    </div>
</body>

</html>