<!DOCTYPE html>
<html lang="en">

<head>
    {% include "components/head_component.html" %}
    <link rel="stylesheet" href="{{ url_for('static', path='/login.css') }}">
    <title>Login</title>
</head>

<body>
    <div class="container">
        <div class="content">
            <h1>Infinity Circle <i class="fa-solid fa-infinity"></i></h1>
            {% if wrong %}
            <h2 class="wrong">Invalid email or password</h2>
            {% endif %}
            <form action="/login" method="POST">
                <input type="email" id="email" {% if wrong %}class="wrong" {% endif %} name="email" placeholder="Email"
                    maxlength="40" required">
                <input type="password" id="password" {% if wrong %}class="wrong" {% endif %}" name="password"
                    placeholder="Password" maxlength="40" required>
                <button type="submit" id="login">Login <i class="fa-solid fa-infinity"></i></button>
            </form>
        </div>
    </div>
</body>

</html>