<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/assets/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/assets/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/assets/favicon-16x16.png">
    <link rel="manifest" href="/static/assets/site.webmanifest">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{{ url_for('static', path='/login.css') }}">
    <title>Register</title>
</head>

<body>
    <div class="container">
        <div class="content">
            <h1>Infinity Circle <i class="fa-solid fa-infinity"></i></h1>
            {% if email_exists %}
            <h2 class="wrong">Email already registered</h2>
            {% endif %}
            <form action="/register" method="POST" enctype="multipart/form-data">
                <label id="label_image" for="image">Profile Image</label>
                <input type="file" id="profile_image" name="profile_image" placeholder="Profile Image"
                    accept="image/png, image/jpeg">
                <input type="text" id="name" name="name" placeholder="Name" maxlength="40" minlength="3" required>
                <input type="email" id="email" name="email" {% if email_exists %}class="wrong" {% endif
                    %}placeholder="Email" minlength="6" maxlength="40" required>
                <input type="password" id="password" name="password" placeholder="Password" minlength="6" maxlength="40"
                    required>
                <button type="submit">Sign Up <i class="fa-solid fa-infinity"></i></button>
            </form>
        </div>
    </div>
</body>

</html>